# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# Environment files
.env
*.env

# IDE files
.idea/
.vscode/
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Sensitive data
*.sqlite3
*.tgz